body.mobile_mode .menuwizard .menu-entry-icon{
        padding-left: 4%;
}
body.mobile_mode #mobile-wizard:not(.menuwizard) .menu-entry-with-icon {
        padding-left: 10px;
        white-space: nowrap;
}
body.mobile_mode span.menu-entry-icon img {
        width: 24px !important;
        margin: 4px !important;
}

body.mobile_mode #mobile-wizard.menuwizard #mobile-wizard-content{
        overflow: hidden !important;
}

body.mobile_mode #mobile-wizard.menuwizard{
        top: 0px !important;
        height: 100% !important;
        z-index: 1500 !important;
}

body.mobile_mode #mobile-wizard.menuwizard #mobile-wizard-back.close-button{
        visibility: hidden !important;
}

body.mobile_mode #toolbar-hamburger.menuwizard-opened{
        z-index: 1501 !important;
        position: relative !important;
        background-color: #dae6f3 !important;
        padding-left: 8px !important;
        border-radius: 0 0 0 100px !important;
}

body.mobile_mode #mobile-wizard.menuwizard #mobile-wizard-titlebar{
        border: none !important;
}
body.mobile_mode span#main-menu-btn-icon {
        filter: none !important;
}

body.mobile_mode #leadingzeroes .spinfieldimage,
body.mobile_mode #decimalplaces .spinfieldimage{
        display: none;
}

body.mobile_mode .ui-header.level-1.mobile-wizard.ui-widget img[src='images/lc_downloadas-pdf.svg']{
        visibility: visible;
}

body.mobile_mode .layout {
        height: 58px;
        width: 72px;
        overflow: hidden;
        margin: 2px 2px !important;
        display: inline-block;
        border: 1px solid #fff;
}

body.mobile_mode .layout.loleaflet-context-down {
        background-color: #dddddd;
        box-shadow: inset 0px -1px 2px 5px #eee;
        border-color: #dddddd;
        border-radius: 2px
}

/*Color-picker*/
body.mobile_mode .color-sample-selected {
        height: 32px !important;
        width: 32px !important;
        box-shadow: 0px 0px 2px 0px #0000008f;
        border-radius: 100px;
}

body.mobile_mode .no-color-selected {
        text-align: center;
        font-size: 30pt;
        line-height: 32px;
        font-weight: 300;
        color: #ff0000 !important;
        background-color: #fff !important;
}

body.mobile_mode .colors-container-selected-basic-color{
        box-shadow: 0 2px 3px -2px #0b87e7;
        border-radius: 4px;
}
body.mobile_mode .color-sample-small {
        border: 2px solid #fff;
        width: 28px;
        height: 28px;
        color: #f0f8ff;
        text-align: center;
        vertical-align: bottom;
        display: table-cell;
}

body.mobile_mode .color-sample-big {
        padding: 5px;
        width: 118px;
        height: 42px;
        color: #f0f8ff;
        text-align: right;
        vertical-align: bottom;
        display: table-cell;
        box-shadow: 0px 0px 0px 1px #dddddd, 1px 1px 0 3px #ffffff;
}

body.mobile_mode .colors-container {
        display: table;
        padding: 0 4%;
}

body.mobile_mode .colors-container-no-color-row {
        display: flex;
        justify-content: space-between;
        height: 50px;
}

body.mobile_mode .colors-container-basic-colors-row {
        padding: 0 0 4% 0;
}

body.mobile_mode .colors-container-tints {
        padding-bottom: 0px;
}

body.mobile_mode .no-color-control-label {
        display:table-cell;
        padding-left: 4px;
        vertical-align: middle;
}

body.mobile_mode .no-color-control-mark {
        color: #0b87e7 !important;
        font-size: larger;
        line-height: 0;
}

body.mobile_mode .no-color-control-icon {
        display: table-cell;
        height: 32px !important;
        width: 32px !important;
        text-align: center;
        font-size: 26pt;
        line-height: 28px;
        font-weight: 300;
        color: #ff0000 !important;
        background: url(images/lc_square_rounded_unfilled.svg) no-repeat center;
}

body.mobile_mode .colors-container-basic-color-mark {
        border: 4px solid transparent;
        border-top: 5px solid #0b87e7;
        margin-top: 2px;
        position: absolute;
        margin-left: 10px
}

body.mobile_mode .colors-container-tint-mark {
        width: 20px;
        height: 20px;
        background-image: url('images/lc_color-picker-selected.svg');
        margin-left: auto;
        background-repeat: no-repeat;
        background-size: auto;
}
body.mobile_mode p.mobile-wizard.ui-combobox-text {
        margin: 0px;
        display: inline-block;
        width: 96%;
        vertical-align: middle;
        line-height: 42px;
        padding-left: 4%;
}
body.mobile_mode .menuwizard #mobile-wizard-content > div .ui-widget {
        padding-left: 0px !important;
}
body.mobile_mode #mobile-wizard:not(.menuwizard) #mobile-wizard-content > .ui-header.level-0.mobile-wizard.ui-widget{
        padding-left: 2% !important;
        width: 100%;
}
body.mobile_mode #BackgroundColor > .ui-header-left {
        width: 100% !important;
}
body.mobile_mode p.mobile-wizard.ui-combobox-text:not(.selected) {
        color: #333333 !important;
}

body.mobile_mode p.mobile-wizard.ui-combobox-text.selected {
        background: url(images/lc_listitem-selected.svg) no-repeat right;
        background-position-x: 94%;
        color: #0867af !important;
}
body.mobile_mode #mobile-wizard-content {
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        top: 111px;
        bottom: 0px;
        width: 100%;
}
body.mobile_mode #mobile-wizard.funcwizard div#mobile-wizard-content.hideHelpBG {
        background: none !important;
}
body.mobile_mode #mobile-wizard.funcwizard div#mobile-wizard-content.showHelpBG {
        background: url(images/lc_helpindex_secondary.svg) no-repeat right 16px bottom 88px / 124px !important;
}
body.mobile_mode #mobile-wizard-content:not(.with-slide-sorter-above),
body.mobile_mode .menuwizard #mobile-wizard-content.with-slide-sorter-above{
        top: 48px !important;
}
body.mobile_mode #mobile-wizard-content.with-slide-sorter-above {
        top: 128px !important;
        overflow-x: hidden;
}
body.mobile_mode #ParaPropertyPanel > .ui-content{
        display: flex;
        flex-wrap: wrap  !important;
        justify-content: space-around;
}
body.mobile_mode .with-slide-sorter-above > .ui-tabs-content > div[title=Layouts]{
        justify-content: center;
        -ms-box-orient: horizontal  !important;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        align-self: center !important;
        align-items: center !important;
        -webkit-flex-wrap: wrap  !important;
        flex-wrap: wrap  !important;
}
body.mobile_mode #rotationlabel,
body.mobile_mode #cellbackgroundlabel,
body.mobile_mode #NumberFormatCurrency > .unolabel,
body.mobile_mode #NumberFormatPercent > .unolabel,
body.mobile_mode #NumberFormatDecimal > .unolabel{
        display: none;
}
body.mobile_mode #NumberFormatDecimal,
body.mobile_mode #NumberFormatPercent{
        margin-left: 20%;
}
body.mobile_mode #NumberFormatCurrency {
        margin-left: 4%;
}
body.mobile_mode #ScNumberFormatPropertyPanel .unospan-numberformat {
        width: 32px;
        float: left;
        margin-bottom: 4%;
}
@media (orientation: landscape) {
        body.mobile_mode #mobile-wizard-header{display: none;}
        body.mobile_mode #mobile-wizard-content.with-slide-sorter-above {
                top: 48px !important;
        }
}
@media (orientation: portrait) {
        body.mobile_mode #mobile-wizard-header{display: block;}
}
body.mobile_mode .menuwizard #mobile-wizard-back {
        background-position-x: 22px;
        width: 52px;
}
body.mobile_mode #mobile-wizard-back.close-button {
        transform: rotate(-90deg);
        background-position-x: center;
}
body.mobile_mode #mobile-wizard-back {
                background-image: url('images/lc_closedocmobile.svg');
                background-repeat: no-repeat;
                width: 48px;
                background-position-x: 16px;
                background-position-y: center;
                height: 20px;
}

body.mobile_mode #mobile-wizard {
                width: 100%;
                position: fixed;
                bottom: 0px;
                z-index: 1000;
                background-color: white;
                box-shadow: 0px -2px 4px 1px #00000030
}

body.mobile_mode #mobile-wizard-content *{
        font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
        color: #212121;
}

body.mobile_mode #mobile-wizard-titlebar {
        background-color: white;
        top: 63px;
        height: 48px;
        color: #636363;
        border-bottom: 1px solid #dddddd !important;
}

body.mobile_mode .ui-content.mobile-wizard {
        background-color: white !important;
        border: none !important;
        padding: 0px 0px 16px 0px;
}

body.mobile_mode .ui-header.mobile-wizard {
        width: 100%;
        height: 56px !important;
        font-size: 11pt !important;
        margin: 0px;
        padding: 0px;
        border: solid 1px #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #fff;
}

body.mobile_mode .ui-header.mobile-wizard:active,
body.mobile_mode .mobile-wizard.ui-combobox-text:active,
body.mobile_mode .ui-header.mobile-wizard:focus,
body.mobile_mode .mobile-wizard.ui-combobox-text:focus,
body.mobile_mode .ui-header.mobile-wizard:hover,
body.mobile_mode .mobile-wizard.ui-combobox-text:hover {
        background-color: #eee;
}

body.mobile_mode .ui-content .unobutton {
        width: 32px;
        height: 32px;
        margin-right: 5px;
        vertical-align: middle;
}

body.mobile_mode .ui-content.unobutton.selected {
        -webkit-filter: grayscale(0) brightness(90%) sepia(90%) hue-rotate(-179deg) saturate(800%) contrast(0.7);
        filter: grayscale(0) brightness(90%) sepia(90%) hue-rotate(-179deg) saturate(800%) contrast(0.7);
        box-shadow: 0 0 0px 8px #e6e6e640;
        border-radius: 0.1px;
        background-color: #e6e6e640;
}

body.mobile_mode #mobile-wizard-content .ui-content > table > tr > td > table > table > tr:first-child > td > img{
        margin-top: 0px !important;
}

body.mobile_mode .ui-content.unospan {
        line-height: 32px;
        display: table;
        padding-left: 4%;
}
body.mobile_mode .ui-content.unolabel {
        display: table-cell;
        vertical-align: middle;
}

body.mobile_mode .sub-menu-title {
        padding-left: 14%;
}
body.mobile_mode .sub-menu-title::before {
        width: 22px;
        height: 22px;
        content: ' ';
        display: block;
        position: absolute;
        left: 4%;
        margin: 0px 4px;
        background-color: #eee;
        border-radius: 20px;
        margin-right: 4%;
}
body.mobile_mode .sub-menu-arrow {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        display: table-cell;
        padding-left: 10px;
        padding-right: 10px;
        background: url(images/lc_closedocmobile.svg) no-repeat left / 10px;
        font-size: 1.5em;
        font-weight: bold;
        color: transparent !important;
        vertical-align: middle;
        margin-right: 4%;
}

body.mobile_mode .func-info-icon {
        display: block;
        background: url(images/lc_helpindex.svg) no-repeat center;
        min-width: 28px;
        min-height: 28px;
}

body.mobile_mode .func-info-sig {
        margin: 1em 0px 1em 4%;
        font-weight: bold;
        color: #444444 !important;
}

body.mobile_mode .func-info-desc {
        margin-left: 4%;
}

body.mobile_mode .entry-value {
        display: table-cell;
        vertical-align: middle;
}

body.mobile_mode .ui-header-right {
        display: table;
        margin-right: 4%;
}
body.mobile_mode .ui-header-left {
        margin-left: 4%;
        min-width: 42% !important;
}
body.mobile_mode .ui-header.level-1.mobile-wizard.ui-widget .ui-header-left span.menu-entry-with-icon {
        vertical-align: middle;
}
body.mobile_mode .flex-fullwidth {
        flex-grow: 100;
}

body.mobile_mode .ui-tabs.mobile-wizard {
        text-align: center;
        height: 42px;
        display: table;
        width: 100%;
        padding: 0px;
}

body.mobile_mode .ui-tab.mobile-wizard {
        display: table-cell;
        width: 49%;
        height: 36px;
        line-height: 36px;
    vertical-align: middle;
        margin: 0px 1%;
        border-radius: 10px;
        border: none;
        color: #777;
}

body.mobile_mode .ui-tab.selected.mobile-wizard {
        border: none;
        color: #0b87e7;
        border-radius: 0px;
        border-bottom: solid 1px #0b87e7;
}

body.mobile_mode [id|=tb_colorselector] .w2ui-tb-caption > div {
        height: 32px !important;
        width: 32px !important;
}

body.mobile_mode [name|=colorselector] {
        width: 80px;
}

body.mobile_mode .colorimage {
        float: left;
        height: 32px;
}

body.mobile_mode .spinfieldcontainer {
        display: inline-block;
        overflow: hidden;
}

body.mobile_mode .sinfieldcontrols {
        background-color: #eee;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        border-left: 1px solid #ccc;
}

body.mobile_mode .spinfieldunit {
        color: #777 !important;
        width: 30px;
        margin: 0px 10px 0px 10px;
}

body.mobile_mode .plus {
        border-left: 1px solid #ccc;
        width: 48px;
        height: 48px;
        color: #777 !important;
        display: table-cell;
        vertical-align: middle;
}
body.mobile_mode .minus {
        border-right: 1px solid #ccc;
        width: 48px;
        height: 48px;
        color: #777 !important;
        display: table-cell;
        vertical-align: middle;
}
body.mobile_mode .spinfieldcontainer .plus:active,
body.mobile_mode .spinfieldcontainer .minus:active{
        border-color: #0b87e7;
        -webkit-filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-190deg) saturate(900%) contrast(0.8);
        filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-190deg) saturate(900%) contrast(0.8);
        background-color:#0087ff75;
        font-size: 22px;
        font-weight: bold
}
body.mobile_mode .spinfieldimage {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        padding-left: 8px;
}

body.mobile_mode .spinfieldcontainer .sinfieldcontrols {
        height: 49px;
        float: right;
}
body.mobile_mode .spinfieldcontainer input.spinfield {
        padding-top: 0px;
}
/*insert table special layout*/
body.mobile_mode .inserttablecontrols p.ui-text{
        position: absolute;
        margin-left: 14%;
        width: 50%;
        border: none;
        padding-top: 1.2%;
        color: #555 !important;
}

body.mobile_mode .inserttablecontrols #rows,
body.mobile_mode .inserttablecontrols #cols{
        background: url('images/lc_inserttable_row_mono.svg') no-repeat left;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
        width: 90%;
        border-radius: none;
}
body.mobile_mode .inserttablecontrols #cols{
        background: url('images/lc_inserttable_col_mono.svg') no-repeat left;
}
body.mobile_mode .inserttablecontrols .spinfield{
        width: 35% !important;
        margin-left: 10% !important;
        text-align: center;
}
body.mobile_mode .inserttablecontrols .sinfieldcontrols{
        border: none;
        background: none;
}
body.mobile_mode .inserttablecontrols .plus,
body.mobile_mode .inserttablecontrols .minus{
        border: none;
        font-weight: bold;
}
/*END insert table special layout*/

body.mobile_mode .leaflet-control-zoom.leaflet-bar{
        border: none !important;
}
body.mobile_mode a.leaflet-control-zoom-in {
        border-radius: 100px !important;
        padding: 8px !important;
        background-color: #0b87e7 !important;
        color: white !important;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19) !important;
        border: none !important;
}
body.mobile_mode #slide-sorter .preview-img{
        border-radius: 3px;
        border-color: #eee;
}
body.mobile_mode #slide-sorter .preview-img-currentpart,
body.mobile_mode #mobile-wizard-header .preview-img-currentpart{
        border-color: #0b87e780;
        border-style: solid;
        border-radius: 3px;
}
body.mobile_mode #presentation-controls-wrapper {
        background: none;
        border: none;
}

body.mobile_mode .mobile-wizard.ui-combobox-text.checked {
        color: #0b87e7 !important;
}
body.mobile_mode #BackColor .w2ui-tb-caption > div,
body.mobile_mode #FontColor .w2ui-tb-caption > div,
body.mobile_mode #BackgroundColor .w2ui-tb-caption > div,
body.mobile_mode #FrameLineColor div,
body.mobile_mode #Color div{
        border-radius:100px !important;
}
body.mobile_mode #toolbar-down table.w2ui-button.checked .w2ui-tb-image{
        -webkit-filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-190deg) saturate(900%) contrast(0.8);
        filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-190deg) saturate(900%) contrast(0.8);
        background-size: 18px !important;
}

body.mobile_mode #toolbar-down table.w2ui-button.checked {
        border: 1px solid #e5f1ff;
        background-color: #e5f1ff;
        border-radius: 0px;
}
body.mobile_mode .w2ui-icon.users{
        background-size: 20px !important;
}
body.mobile_mode .ui-content label{
        line-height: 44px;
        vertical-align: top;
        padding-left: 4%;
}
body.mobile_mode #buttonnone + label,
body.mobile_mode #buttonbefore + label,
body.mobile_mode #buttonafter + label,
body.mobile_mode #buttonoptimal + label,
body.mobile_mode #buttonparallel + label,
body.mobile_mode #buttonnone + label,
body.mobile_mode #buttonthrough + label{
        padding-left: 0;
}
body.mobile_mode #Color > img{
        border-radius:100px;
        background-color: #696969;
}
body.mobile_mode #SendToBack > span,
body.mobile_mode #ObjectBackOne > span,
body.mobile_mode #ObjectForwardOne > span,
body.mobile_mode #BringToFront > span,
body.mobile_mode #SetObjectToBackground > span,
body.mobile_mode #SetObjectToForeground > span,
body.mobile_mode #FlipVertical > span,
body.mobile_mode #FlipHorizontal > span,
body.mobile_mode #Bold > span,
body.mobile_mode #Italic > span,
body.mobile_mode #Underline > span,
body.mobile_mode #Strikeout > span,
body.mobile_mode #StyleApply > span,
body.mobile_mode #StyleUpdateByExample > span,
body.mobile_mode #StyleNewByExample > span,
body.mobile_mode #Shadowed > span,
body.mobile_mode #Grow > span,
body.mobile_mode #Shrink > span,
body.mobile_mode #Color > span,
body.mobile_mode #Spacing > span,
body.mobile_mode #SuperScript > span,
body.mobile_mode #SubScript > span,
body.mobile_mode #AlignLeft > span,
body.mobile_mode #AlignRight > span,
body.mobile_mode #AlignHorizontalCenter > span,
body.mobile_mode #AlignBlock > span,
body.mobile_mode #ParaLeftToRight > span,
body.mobile_mode #ParaRightToLeft > span,
body.mobile_mode #AlignTop > span,
body.mobile_mode #AlignVCenter > span,
body.mobile_mode #AlignBottom > span,
body.mobile_mode #IncrementIndent > span,
body.mobile_mode #DecrementIndent > span,
body.mobile_mode #LeftPara > span,
body.mobile_mode #RightPara > span,
body.mobile_mode #CenterPara > span,
body.mobile_mode #JustifyPara > span,
body.mobile_mode #DefaultBullet > span,
body.mobile_mode #DefaultNumbering > span,
body.mobile_mode #ParaspaceIncrease > span,
body.mobile_mode #ParaspaceDecrease > span,
body.mobile_mode #LineSpacing > span,
body.mobile_mode #HangingIndent > span,
body.mobile_mode #CellVertTop > span,
body.mobile_mode #CellVertCenter > span,
body.mobile_mode #CellVertBottom > span,
body.mobile_mode div[id*='Row'] > span,
body.mobile_mode div[id*='Column'] > span,
body.mobile_mode div[id^=Outline] > span,
body.mobile_mode #nolines > img{
        display: none !important;
}
body.mobile_mode #SendToBack,
body.mobile_mode #ObjectBackOne,
body.mobile_mode #ObjectForwardOne,
body.mobile_mode #BringToFront,
body.mobile_mode #SetObjectToBackground,
body.mobile_mode #SetObjectToForeground,
body.mobile_mode #FlipVertical,
body.mobile_mode #FlipHorizontal,
body.mobile_mode #Bold,
body.mobile_mode #Italic,
body.mobile_mode #Underline,
body.mobile_mode #Strikeout,
body.mobile_mode #StyleApply,
body.mobile_mode #StyleUpdateByExample,
body.mobile_mode #StyleNewByExample,
body.mobile_mode #Shadowed,
body.mobile_mode #Grow,
body.mobile_mode #Shrink,
body.mobile_mode #Spacing,
body.mobile_mode #SuperScript,
body.mobile_mode #SubScript,#AlignLeft,
body.mobile_mode #AlignRight,
body.mobile_mode #AlignHorizontalCenter,
body.mobile_mode #AlignBlock,
body.mobile_mode #ParaRightToLeft,
body.mobile_mode #ParaLeftToRight,
body.mobile_mode #AlignTop,
body.mobile_mode #AlignVCenter,
body.mobile_mode #AlignBottom,
body.mobile_mode #IncrementIndent,
body.mobile_mode #DecrementIndent,
body.mobile_mode #LeftPara,
body.mobile_mode #RightPara,
body.mobile_mode #CenterPara,
body.mobile_mode #JustifyPara,
body.mobile_mode #DefaultBullet,
body.mobile_mode #DefaultNumbering,
body.mobile_mode #ParaspaceIncrease,
body.mobile_mode #ParaspaceDecrease,
body.mobile_mode #LineSpacing,
body.mobile_mode #HangingIndent,
body.mobile_mode #CellVertTop,
body.mobile_mode #CellVertCenter,
body.mobile_mode #CellVertBottom,
body.mobile_mode #ParaspaceIncrease,
body.mobile_mode #ParaspaceDecrease,
body.mobile_mode div[id*='Row'],
body.mobile_mode div[id*='Column'],
body.mobile_mode #DeleteTable,
body.mobile_mode #MergeCells,
body.mobile_mode div[id^=Outline]{
        padding: 16px 28px 16px 4% !important;
        margin: 0px !important;
        float:left;
}
body.mobile_mode #MergeCells > span{
        color: #4d82b8;
        text-align: end;
        vertical-align: bottom;
}
body.mobile_mode #DeleteTable{
        background-color: #fbf4f5;
        border-radius: 6px;
        padding-right: 4% !important;
}
body.mobile_mode #DeleteTable > span{
        font-weight: bold;
        color: #e68497;
        text-align: end;
        vertical-align: bottom;
}
body.mobile_mode .colorcontainer {
        width: 120px;
        float: left;
        padding: 20px 20px 20px 20px !important;
}
body.mobile_mode #belowparaspacing,
body.mobile_mode #spacinglabel,
body.mobile_mode #OutlineRight,
body.mobile_mode #DefaultBullet,
body.mobile_mode #CellVertTop,
body.mobile_mode #rowheight,
body.mobile_mode #columnwidth{float: left;}

body.mobile_mode #Shadowed,
body.mobile_mode #StyleNewByExample + div,
body.mobile_mode #AlignTop,
body.mobile_mode #AlignBottom + p,
body.mobile_mode #mergecells,
body.mobile_mode #BackgroundColor + p,
body.mobile_mode #LineSpacing,
body.mobile_mode #indentlabel,
body.mobile_mode #spacinglabel,
body.mobile_mode #sizelabel{clear:both;}

body.mobile_mode #BackgroundColor + p,
body.mobile_mode #LineSpacing + p,
body.mobile_mode #denominatorplaceslabel,
body.mobile_mode #decimalplaceslabel,
body.mobile_mode #leadingzeroeslabel,
body.mobile_mode #leftindentlabel,
body.mobile_mode #orientationlabel,
body.mobile_mode #cellbackgroundlabel,
body.mobile_mode .mobile-wizard.ui-text {
        border-bottom: 1px solid #c2d5ed;
        color: #b3c5dc !important;
        margin-left: 4%;
        width: 94%;
        font-size: 12px;
        font-weight: bold;
        clear: both;
}

body.mobile_mode #DecrementIndent + input:disabled{display: none;}
body.mobile_mode div#mobile-wizard-content input[type=number]{
        height: 46px;
        width: 42%;
        padding-left: 8%;
        border: none;
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
}
body.mobile_mode div#mobile-wizard-content .spinfieldcontainer{
        height: 48px;
        width: -moz-available;
        width: -webkit-fill-available;
        margin: 0px 4% 8px 4% !important;
        border: 1px solid #ccc;
        border-radius: 2px;
        background-size: 28px;
}
body.mobile_mode div#mobile-wizard-content .spinfieldcontainer .spinfieldimage {
        opacity: 0.5;
}
body.mobile_mode div#mobile-wizard-content .spinfieldcontainer:active .spinfieldimage,
body.mobile_mode div#mobile-wizard-content .spinfieldcontainer:focus .spinfieldimage,
body.mobile_mode div#mobile-wizard-content .spinfieldcontainer:hover .spinfieldimage {
        opacity: 1 !important;
}
body.mobile_mode div#mobile-wizard-content .spinfield:active .spinfieldimage,
body.mobile_mode div#mobile-wizard-content .spinfield:focus .spinfieldimage,
body.mobile_mode div#mobile-wizard-content .spinfield:hover .spinfieldimage {
        opacity: 1 !important;
}
body.mobile_mode #buttonbefore,
body.mobile_mode #buttonafter,
body.mobile_mode #buttonoptimal,
body.mobile_mode #buttonparallel,
body.mobile_mode #buttonnone,
body.mobile_mode #buttonthrough,
body.mobile_mode #bottom,
body.mobile_mode #top,
body.mobile_mode #standard,
body.mobile_mode #Bold,
body.mobile_mode #Italic,
body.mobile_mode #Underline,
body.mobile_mode #Strikeout{
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 24px 32px 24px 32px;
        background-size: 24px !important;
}
body.mobile_mode #mobile-wizard-content > .unobutton:focus,
body.mobile_mode #mobile-wizard-content .unobutton:active{
        outline: none;
        background-color: #e5f1ff !important;
        box-shadow: 0 0 0px 8px #e5f1ff;
        border-radius: 0.1px;
}
body.mobile_mode #buttonbefore{background: url(images/sc_wrapleft.svg) no-repeat center;}
body.mobile_mode #buttonafter{background: url(images/sc_wrapright.svg) no-repeat center;}
body.mobile_mode #buttonoptimal{background: url(images/sc_wrapleft.svg) no-repeat center;}
body.mobile_mode #buttonparallel{background: url(images/sc_wrapmenu.svg) no-repeat center;}
body.mobile_mode #buttonnone{background: url(images/sc_wrapoff.svg) no-repeat center;}
body.mobile_mode #buttonthrough{background: url(images/sc_wrapthrough.svg) no-repeat center;}
body.mobile_mode #top{background: url(images/sc_aligntop.svg) no-repeat center;}
body.mobile_mode #bottom{background: url(images/sc_alignbottom.svg) no-repeat center;}
body.mobile_mode #standard{background: url(images/sc_alignverticalcenter.svg) no-repeat center;}
body.mobile_mode div[id^=checkbutton]{
        clear: both;
}
body.mobile_mode #mobile-wizard input[type=checkbox]:disabled{
        border: 2px solid #ddd;
        box-shadow: none;
}
body.mobile_mode #mobile-wizard input[type=checkbox]{
        appearance: none;
        width: 24px;
        height: 24px;
        margin: 10px 20px 10px 0px !important;
        float: right;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border-radius: 2px;
        border: 2px solid #aaa;
        outline: none;
        box-shadow: #00000015 0px 0px 2px 1px;
}
body.mobile_mode #mobile-wizard input[type=checkbox]:checked{
        background: url(images/lc_ok_white.svg) no-repeat center;
        background-color: #0b87e7;
        border-radius: 2px;
        border: 2px solid #0b87e7;
        outline: none;
        box-shadow: none;
}
body.mobile_mode #mobile-wizard input[type=checkbox]:before{
        width: 20px;
        height: 20px;
}
body.mobile_mode #mobile-wizard input[type=checkbox]:after{
        top: -20px;
        width: 16px;
}
body.mobile_mode #enablecontour + label{
        line-height: 44px;
        vertical-align: baseline;
        padding-left: 24px;
}
body.mobile_mode #SdTableDesignPanel div[id^=Use]{
        width: 92%;
        padding-right: 4% !important;
}
body.mobile_mode input[type=checkbox]#UseBandingColumnStyle,
body.mobile_mode input[type=checkbox]#UseLastColumnStyle,
body.mobile_mode input[type=checkbox]#UseFirstColumnStyle,
body.mobile_mode input[type=checkbox]#UseBandingRowStyle,
body.mobile_mode input[type=checkbox]#UseLastRowStyle,
body.mobile_mode input[type=checkbox]#UseFirstRowStyle{
        margin-right: 0px !important;
}
body.mobile_mode #mobile-wizard button{
        height: 44px;
        width: 92%;
        border-radius: 4px;
        color: #fff !important;
        font-weight: bold;
        background-color: #0b87e7;
        border: 1px solid #0b87e7;
        margin: 0 4%;
}
body.mobile_mode #mobile-wizard button:focus{
        outline: none;
}
body.mobile_mode #mobile-wizard button:active{
        outline: none;
        border: none;
        background-color: #ebf2fb;
}
body.mobile_mode #enablecontour + button {
        float: right;
        margin: 24px 0px;
}
body.mobile_mode div#enablecontour + p,
body.mobile_mode #arrangelabel,
body.mobile_mode #SetMinimalRowHeight {clear: both;}
