@-moz-document url-prefix() {
        body.mobile_mode #spreadsheet-row-column-frame.readonly {
                top: 36px !important;
        }
        body.mobile_mode #document-container.spreadsheet-document.readonly {
                top: 56px !important;
        }
        body.mobile_mode #spreadsheet-row-column-frame {
                top: 75px !important
        }
        body.mobile_mode #document-container.spreadsheet-document {
                top: 95px !important;
        }
}
body.mobile_mode #spreadsheet-toolbar {
        bottom: 0;
}

body.mobile_mode .spreadsheet-tabs-container {
        bottom: 0;
}

body.mobile_mode #spreadsheet-row-column-frame.readonly {
        top: 37px !important;
}
body.mobile_mode #document-container.spreadsheet-document.readonly {
        top: 57px !important;
}
body.mobile_mode #spreadsheet-row-column-frame {
        top: 73px;
        bottom: 36px;
}

body.mobile_mode .spreadsheet-tab{
        background-color: #eaf5ff;
        color: #4c4c4c;
        border-radius: 3px;
        border-color: #fbfbfb;
        padding-top: 2px;
        padding-bottom: 6px;
        margin-top: 4px;
}

body.mobile_mode .spreadsheet-tab-selected{
        color: #0b87e7 !important;
        border-color: #0b87e7;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin-top: 2px;
        padding-top: 5px;
        padding-bottom: 7px;
}

body.mobile_mode .spreadsheet-tabs-container {
        left: 24px;
}

body.mobile_mode .spreadsheet-tab-scroll {
        overflow-x: scroll;
        scrollbar-width: none; /*css draft (firefox only)*/
        -ms-scrollbar: none; /*ie*/
        -webkit-overflow-scrolling: touch;
}

body.mobile_mode .spreadsheet-tabs-container,
body.mobile_mode #spreadsheet-toolbar{
        background-color: #fff;
        border-top: 1px solid #eceff4;
}
body.mobile_mode #spreadsheet-toolbar{
        background-color: #fbfbfb;
        border-top: 1px solid #eceff4;
        height: 40px;
        padding-top: 6px;
        padding-left: 1px;
        padding-bottom: 0px;
        padding-right: 0px;
}
body.mobile_mode #spreadsheet-toolbar .w2ui-tb-image{
        padding-top: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
}
body.mobile_mode #toolbar-down table.w2ui-button.over {
    border: 1px solid #eee;
    background-color: #eeeeee;
    border-radius: 0px;
}
